openapi: 3.0.1
info:
  title: Minor Cloud Native Software Development "Notes"
  description: This is a simple notes server.
  version: 1.0.0

servers:
- url: http://route.to.api/v1

tags:
- name: Notes
  description: Everything about Notes

paths:
  /notes:
    get:
      summary: Get all existing notes
      tags:
        - Notes
      operationId: GetAllNotes
      responses:
        200:
          $ref: '#/components/responses/GetNoteListSuccess'

    post:
      summary: Add a new pet to the store
      tags:
        - Notes
      operationId: CreateNote
      requestBody:
        $ref: '#/components/requestBodies/CreateNote'
      responses:
        200:
          $ref: '#/components/responses/GetNoteSuccess'
        400:
          $ref: '#/components/responses/BadRequestResponse'

  /notes/{NoteId}:
    get:
      summary: Get a single Note
      description: Get a single note
      tags:
        - Notes
      parameters:
        - $ref: '#/components/parameters/NoteId'
      responses:
        200:
          $ref: '#/components/responses/GetNoteSuccess'
        400:
          $ref: '#/components/responses/BadRequestResponse'
        404:
          $ref: '#/components/responses/NotFoundResponse'

    delete:
      summary: Delete a note
      description: Delete a note
      tags:
        - Notes
      parameters:
        - $ref: '#/components/parameters/NoteId'
      responses:
        200:
          $ref: '#/components/responses/NoContent'
        400:
          $ref: '#/components/responses/BadRequestResponse'
        404:
          $ref: '#/components/responses/NotFoundResponse'


components:

  requestBodies:
    CreateNote:
      description: The note that needs to be added
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateNote'

  responses:
    GetNoteListSuccess:
      description: Success
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/Note'

    GetNoteSuccess:
      description: Success
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Note"
    NotFoundResponse:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    NoContent:
      description: No Content
    BadRequestResponse:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  parameters:
    NoteId:
      name: NoteId
      in: path
      required: true
      description: Identification of a note
      schema:
        type: integer
        format: int64
      example: 532574

  schemas:
    Note:
      type: object
      properties:
        id:
          type: integer
          format: int64
        text:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CreateNote:
      type: object
      required:
        - text
      properties:
        text:
          type: string

    Error:
      type: object
      properties:
        message:
          type: string
